@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Poppins:wght@400;500&display=swap');

h1 {
    text-transform: uppercase;
    font-family: Poppins;
    color: #2A2D43;
    text-align: center;
    padding: 20px;
    margin: 5px;

}

body {
    font-family: Poppins;
    color: #2A2D43;
    text-align: center;
}

div {
    font-size: 120%;
}

.heading {
    width: 85%;
}

.btn {
    width: 100px;
    height: 100px;
}

.btn:hover {
    border: 2px solid #2A2D43;
}

.btn::after {
    content: attr(data-type);
    font-size: 1rem;
    color: #2A2D43;
    position: relative;
    text-transform: capitalize;
}

h2 {
    padding: 5px;
}

footer {
    background-color: #2A2D43;
    color: white;
}

#rules {
    font-size: 110%;
    letter-spacing: 1px;
}

/*Media Query for Mobile Devices of 550px and below*/
@media screen and (max-width: 550px) {
    img {
        width: 75%;
        height: 250px;
    }
}